@model IEnumerable<_2023AMVC.Areas.Identity.Data.Product>

@{
    ViewData["Title"] = "Index";
}



<div class="container mx-auto px-6 py-8">
    <h1 class="text-4xl font-extrabold text-center text-gray-800 mb-6">Product List</h1>

    <div class="flex justify-end mb-6">
        <a asp-action="Create" class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow-lg hover:bg-blue-700 transition duration-300 font-semibold">
            + Add New Product
        </a>
    </div>

    <div class="overflow-hidden rounded-lg shadow-lg bg-gray-100 p-4">
        <table class="w-full border-collapse bg-white rounded-lg shadow-md" id="tbllist">
            <thead class="bg-dark text-white">
                <tr class="bg-gray-800 text-white">
                    <th class="px-6 py-4 text-left font-semibold">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="px-6 py-4 text-left font-semibold">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="px-6 py-4 text-left font-semibold">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="px-6 py-4 text-center font-semibold">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th class="px-6 py-4 text-center font-semibold">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>



    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        LoadListing();
    });

    function FunEdit(element) {
        debugger;
        var id = $(element).closest('tr').find('input[type=hidden]').val();
        window.location.href = "/Products/Edit?id=" + id;
    }

    function FunRemove(element) {
        var id = $(element).closest('tr').find('input[type=hidden]').val();
        window.location.href = "/Products/delete?id=" + id;
    }

    function LoadListing() {
        var productdata = [];
        $.ajax({
            type: "POST",
            url: "/Products/GetAll",
            async: false,
            success: function (data) {
                debugger;
                $.each(data, function (key, value) {
                    var editbtn = "<a onclick='FunEdit(this)' class='btn btn-primary'>Edit</a>";
                    var removebtn = "<a onclick='FunRemove(this)' Class='btn btn-danger'>Remove</a>";
                    var hdn = "<input type= 'hidden' value=" + value.id + " />";
                    var action = editbtn + "|" + removebtn + hdn;
                    productdata.push([value.id, value.name, value.description, value.quantity, action])

                });
            },
            failure: function (err) {
                debugger;
            }

        });
        js('#tbllist').DataTable({
            data: productdata
        });
    }

</script>